.row{style:"max-width: 1200px; padding: 15px; margin: 0 auto;"}
  %h1
    Marketing Statistics Data
  .col-md-12
    %i.fa.fa-file-archive-o
      ="Imported file #{@impfile.name}"
    .paginate-right
      = paginate(@mstats)
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Campaign Name
          %th Impressions
          %th Clicks
          %th Cost
          %th Created At
          %th
      %tbody
        - @mstats.each do |stat|
          %tr
            %td=stat.id
            %td=stat.campaign_name
            %td=stat.impressions
            %td=stat.clicks
            %td=number_to_currency(stat.cost)
            %td=stat.created_at.strftime('%b %d, %Y %I:%M %p')
            %td
              =link_to content_tag(:i, nil, {class: 'fa fa-pencil-square-o'}), edit_marketing_stat_path(stat)
              &nbsp;
              =link_to content_tag(:i, nil, {class: 'fa fa-trash-o'}), stat, method: :delete, data: {confirm: "Are you sure you want to delete this statistic data  # #{stat.id}?"}
    =link_to 'Back Imported Files', imported_files_path, class: 'btn btn-primary'