.row{style:"max-width: 1200px; padding: 15px; margin: 0 auto;"}
  %h1
    Welcome BV Importer 201510 demo app
  .col-md-12
    %p
      Please login in order to upload your file, you can use the following credentials for test
      %ul
        %li email: tester@test.com
        %li password: secret@123
